/*  your css code here. If applicable */
body{
	background-color: #f5f5f5
}
.header{
	background-color: #011e29;
	color:white;
	text-align:center;
	padding:20px;
	margin:10px;
}
.latest-news-section{
	width:150px;
	padding:50px;
	background-color:white;
	border-radius:30px;
	}
.Main-article{
	width:150px;
	padding:50px;
	background-color:white;
	border-radius:30px;
	}
.Pictorial-news-section,img{
	width:150px;
	background-color:white;
	margin:20px;
	display: flex; 
  flex-direction: column; 
		}
